
body {
    background-image: linear-gradient(to bottom ,#FFE6E6, #FFABE1)
}

p {
    font-family: 'Barlow';
    font-size: 20px;
}

.bigtext {
    font-size: 150px;
    letter-spacing: 10px;
    text-shadow: 8px 8px 25px #6155A6;
    margin-top: 50px;
    margin-bottom: 50px;
    animation: appear 1s ease-in-out forwards;
}

.navtext {
    color: black;
    font-family: 'Barlow';
    font-size: 25px;
    text-shadow: 8px 8px 25px #6155A6;
    transition: font-size 0.2s ease-out 100ms;
}

.wiptext {
    position: absolute;
    top: 10px;
}

.round {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 10px;
    border-radius: 25px;
    background: #FFABE1;
    width: 600px;
    height: 100px;
    box-shadow: 0 0 25px #6155A6;
    text-shadow: 0 0 5px #808080;
    animation: appear 1.5s ease-in-out forwards;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hovertext:hover {
    font-size: 35px;
}

#inner {
}

#outer {
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

@keyframes appear {
    0% { 
        opacity: 0%; 
        transform: translateY( -30px );
    }
    100% {
        opacity: 100%;
        transform: translateY( 0px );
    }
}
